pack/Service References/Palau/UsingCompressUncompress.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="UnZip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fullPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inPathExtract" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnZipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnZipResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Zip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strArFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strComprLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strComprMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isRemove" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="arFiles" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ZipResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFolders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFoldersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFoldersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFilesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPasswordForArchive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fullPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPasswordForArchiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsPasswordForArchiveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UnZipSoapIn">
    <wsdl:part name="parameters" element="tns:UnZip" />
  </wsdl:message>
  <wsdl:message name="UnZipSoapOut">
    <wsdl:part name="parameters" element="tns:UnZipResponse" />
  </wsdl:message>
  <wsdl:message name="ZipSoapIn">
    <wsdl:part name="parameters" element="tns:Zip" />
  </wsdl:message>
  <wsdl:message name="ZipSoapOut">
    <wsdl:part name="parameters" element="tns:ZipResponse" />
  </wsdl:message>
  <wsdl:message name="GetFoldersSoapIn">
    <wsdl:part name="parameters" element="tns:GetFolders" />
  </wsdl:message>
  <wsdl:message name="GetFoldersSoapOut">
    <wsdl:part name="parameters" element="tns:GetFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="GetFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFiles" />
  </wsdl:message>
  <wsdl:message name="GetFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IsPasswordForArchiveSoapIn">
    <wsdl:part name="parameters" element="tns:IsPasswordForArchive" />
  </wsdl:message>
  <wsdl:message name="IsPasswordForArchiveSoapOut">
    <wsdl:part name="parameters" element="tns:IsPasswordForArchiveResponse" />
  </wsdl:message>
  <wsdl:portType name="UsingCompressUncompressSoap">
    <wsdl:operation name="UnZip">
      <wsdl:input message="tns:UnZipSoapIn" />
      <wsdl:output message="tns:UnZipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Zip">
      <wsdl:input message="tns:ZipSoapIn" />
      <wsdl:output message="tns:ZipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <wsdl:input message="tns:GetFoldersSoapIn" />
      <wsdl:output message="tns:GetFoldersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <wsdl:input message="tns:GetFilesSoapIn" />
      <wsdl:output message="tns:GetFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsPasswordForArchive">
      <wsdl:input message="tns:IsPasswordForArchiveSoapIn" />
      <wsdl:output message="tns:IsPasswordForArchiveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsingCompressUncompressSoap" type="tns:UsingCompressUncompressSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UnZip">
      <soap:operation soapAction="http://localhost/UnZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Zip">
      <soap:operation soapAction="http://localhost/Zip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <soap:operation soapAction="http://localhost/GetFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <soap:operation soapAction="http://localhost/GetFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPasswordForArchive">
      <soap:operation soapAction="http://localhost/IsPasswordForArchive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsingCompressUncompressSoap12" type="tns:UsingCompressUncompressSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UnZip">
      <soap12:operation soapAction="http://localhost/UnZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Zip">
      <soap12:operation soapAction="http://localhost/Zip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <soap12:operation soapAction="http://localhost/GetFolders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <soap12:operation soapAction="http://localhost/GetFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPasswordForArchive">
      <soap12:operation soapAction="http://localhost/IsPasswordForArchive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsingCompressUncompress">
    <wsdl:port name="UsingCompressUncompressSoap" binding="tns:UsingCompressUncompressSoap">
      <soap:address location="http://10.85.5.238/SD_TOE_Service/UsingCompressUncompress.asmx" />
    </wsdl:port>
    <wsdl:port name="UsingCompressUncompressSoap12" binding="tns:UsingCompressUncompressSoap12">
      <soap12:address location="http://10.85.5.238/SD_TOE_Service/UsingCompressUncompress.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>